<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <title>v-for指令</title>
</head>
<body>
    <div id="app">
       v-for的用法:v-for一定要写在要遍历的元素上,v-for后接等号<br>
       (1)遍历多个对象:<br>
       学号vueJS的方法是:
       <ul>
          <li v-for="vueMth in vueMethdos">{{vueMth.name}}</li>
       </ul>
       <br>
       带索引的写法：括号的第一个变量，代表item，第二个代表index
       <ul>
          <!--第一个参数为数组元素，第二个参数为元素对应的序号-->
          <li v-for="(vueMth,index) in vueMethdos">{{index}}---------{{vueMth.name}}</li>
       </ul>
       <br>
       (2)遍历一个对象的多个属性
       <span v-for="value in nvshen">{{value}}</span>
       <br>
       <!--第一个参数为数组元素，第二个参数为元素对应的键，第三个参数为-->
       拿到value,key,index的写法 v-k-i--外开
       <div v-for="(value,key,index) in nvshen">第{{index}}个女神:{{value}}</div>
    </div>
  
    <script>
        var app=new Vue({
            el:"#app",
            data:{
                vueMethdos:[
                    {
                        name:'多思考'
                    },
                    {
                        name:'多练习'
                    },
                    {
                        name:'听老张讲课'
                    }
                ],
                nvshen:{
                    girl1:'高圆圆',
                    girl2:'东丽亚',
                    girl3:'林青霜'
                }
            }
        })
    </script>
</body>
</html>