<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <title>在组件中使用v-model</title>
</head>

<body>
   <div id="app">
       您现在的银行卡余额是{{total}}元<br>
       
       <input type="text" v-model="abc">---{abc}
       <!--语法糖v-model---其实就是绑定了input事件，当触发input时候，input事件就会自动接收传递过来的参数，并赋值给已经绑定的total-->
      <btn-component v-model="total"></btn-component>
   </div>
</body>
<script>
    Vue.component("btn-component", {
        props: ['myMsg'],
        template: `<div>
                    <button @click="handleincrease">+1000</button>
                   </div>`,
       data:function(){
        return {
           count:2000
        }
       },
       methods:{
        handleincrease:function()
        {
            this.count+=1000;
            //给名为input的事件，将this.count传值给该事件,并触发该事件且将this.count传入该事件
            this.$emit('input',this.count);
        },
        handlereduce:function()
        {
            this.count-=1000;
            this.$emit('input',this.count);
        }
       }
    });
    var app=new Vue({
        el:'#app',
        data:{
            total:2000
        },
        
    })
</script>

</html>